.header-jce {
	font-family: Arial;
	font-size: 12pt;
	text-align: left;
	font-weight: bold;
	text-decoration-line: underline;
	color: black;
}

.section-jce {
	font-family: Calibri;
	font-size: 11pt;
	text-align: left;
	font-weight: bold;
	color: black;
}

.general-jce {
	font-family: Calibri;
	font-size: 11pt !important;
	text-align: left;
	color: black;
}

.btn.btn-blue {
	font-family: Calibri;
	font-size: 11pt;
	background-color: #4ab2f1;
	border-color: #4ab2f1;
	text-align: center;
	color: white;
}

.btn.btn-menu {
	font-family: Calibri;
	font-size: 11pt;
	background-color: #0890dc;
	border-color: #0890dc;
	text-align: center;
	color: white;
}

.btn.btn-menu:hover {
	font-family: Calibri;
	font-size: 12pt;
	background-color: #daf1fe;
	border-color: #daf1fe;
	text-align: center;
	color: black;
}

.headertable {
	font-family: Arial;
	font-size: 11;
	background-color: #0890dc;
	border-color: black;
	color: white;
}

.rowtable {
	font-family: Calibri;
	font-size: 11;
	border-color: black;
	color: black;
	background-color: #daf1fe;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.s-message {
	color: green;
	font-weight: bold;
}

.f-message {
	color: red;
	font-weight: bold;
}

.squestion input {
	width: 90%;
}

.squestion button {
	width: 8%;
	margin: 0 1%;
}

.spoptions {
	table-layout: fixed;
}
